body {
	background: #444;
  	color: #1ff;
}
.about-info {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 100px 100px 100px;
	background-color: #fff;
	color: #444;
}
.job {
	background-color: #144;
	color: #fff;
	border-radius: 15px;
	padding: 20px;
 	font-size: 100%;
	border-bottom: gray 5px solid;
}
.a {
	grid-area: aa;
}
.b {
	grid-area: bb;
}
.c {
	grid-area: cc;
}
.wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-areas: "aa aa aa"
			     "bb cc cc"
			     "bb cc cc";
	grid-template-columns: 100px 100px 100px;
	background-color: #fff;
	color: #444;
}
.box {
	background-color: #444;
	color: #fff;
 	border-radius: 5px;
	padding: 20px;
	font-size: 150%;
}